<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Menu</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#home"><i class="fa fa-database"></i> Gestion de stages</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#home"><i class="fa fa-dashboard"></i> Tableau de bord</a></li>
      <li><a href="#"><i class="fa fa-cogs"></i> Profile</a></li>
      <li><a href="#logout"><i class="fa fa-sign-out"></i> Déconnexion</a></li>
    </ul>
  </div>
</div>
