<div class="row">
  <div class="col-lg-12">
    <h2>Utilisateur {{PRENOM}} {{NOM}}</h2>
    <form method="get" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label">Rôle</label>
        <div class="col-sm-10">
          <select id="listeRoles" class="form-control m-b" name="IDROLE">
              <option value="1">Administrateur</option>
              <option value="3">Professeur</option>
              <option value="4">Étudiant</option>
              <option value="2">Secrétaire</option>
              <option value="5">Maître de stage</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Civilité</label>
        <div class="col-sm-10">
          <select id="listeCivilites" class="form-control m-b" name="CIVILITE">
              <option value="Mr">Monsieur</option>
              <option value="Mme">Madame</option>
          </select>
        </div>
      </div>
      <div class="form-group"><label class="col-sm-2 control-label">Prénom</label>
        <div class="col-sm-10"><input name="PRENOM" value="{{PRENOM}}" type="text" class="form-control"></div>
      </div>
      <div class="hr-line-dashed"></div>
      <div class="form-group"><label class="col-sm-2 control-label">Nom</label>
        <div class="col-sm-10"><input name="NOM" value="{{NOM}}" type="text" class="form-control"></div>
      </div>
      <div class="hr-line-dashed"></div>
      <div class="form-group"><label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10"><input name="ADRESSE_MAIL" value="{{ADRESSE_MAIL}}" type="email" class="form-control"></div>
      </div>
      <div class="form-group"><label class="col-sm-2 control-label">Numéro de téléphone</label>
        <div class="col-sm-10"><input name="NUM_TEL" value="{{NUM_TEL}}" type="text" class="form-control"></div>
      </div>
      <!-- Étudiant -->
      <div class="champs-etudiant" style="display:none;">
        <div class="form-group"><label class="col-sm-2 control-label">Études</label>
          <div class="col-sm-10"><input name="ETUDES" type="text" class="form-control" value="{{ETUDES}}"></div>
        </div>
        <div class="form-group"><label class="col-sm-2 control-label">Formation</label>
          <div class="col-sm-10"><input name="FORMATION" type="text" class="form-control" value="{{FORMATION}}"></div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Année scolaire</label>
          <div class="col-sm-10">
            <select id="listeAnneescol" class="form-control m-b" name="ANNEESCOL">
                {{#each annees}}
                  <option value="{{ANNEESCOL}}">{{ANNEESCOL}}</option>
                {{/each}}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Classe</label>
          <div class="col-sm-10">
            <select id="listeClasses" class="form-control m-b" name="NUMCLASSE">
                {{#each classes}}
                  <option value="{{NUMCLASSE}}">{{NUMCLASSE}}</option>
                {{/each}}
            </select>
          </div>
        </div>
      </div>
      <!-- Fin Étudiant -->
      <div class="form-group"><label class="col-sm-2 control-label">Nom d'utilisateur</label>
        <div class="col-sm-10"><input name="LOGINUTILISATEUR" value="{{LOGINUTILISATEUR}}" type="text" class="form-control"></div>
      </div>
      <div class="form-group"><label class="col-sm-2 control-label">Mot de passe</label>
        <div class="col-sm-10"><input name="MDPUTILISATEUR" value="{{MDPUTILISATEUR}}" type="password" class="form-control"></div>
      </div>
      <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
          <button class="btn btn-primary" type="submit">Mettre à jour</button>
        </div>
      </div>
    </form>
  </div>
</div>
