<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Prénom Nom </th>
      <th>Email </th>
      <th>Rôle</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>