<div class="row">
  <div class="col-lg-12">
    <h2>Nouvel utilisateur</h2>
    <form method="get" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label">Rôle</label>
        <div class="col-sm-10">
          <select class="form-control m-b" name="IDROLE">
              <option value="1">Administrateur</option>
              <option value="3">Professeur</option>
              <option value="4">Étudiant</option>
              <option value="2">Secrétaire</option>
              <option value="5">Maître de stage</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Civilité</label>
        <div class="col-sm-10">
          <select class="form-control m-b" name="CIVILITE">
              <option value="Mr">Monsieur</option>
              <option value="Mme">Madame</option>
          </select>
        </div>
      </div>
      
      <input type="hidden" name="IDSPECIALITE" value="1">
      <div class="form-group"><label class="col-sm-2 control-label">Prénom</label>
        <div class="col-sm-10"><input name="PRENOM" type="text" class="form-control"></div>
      </div>
      <div class="form-group"><label class="col-sm-2 control-label">Nom</label>
        <div class="col-sm-10"><input name="NOM" type="text" class="form-control"></div>
      </div>
      <div class="form-group"><label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10"><input name="ADRESSE_MAIL" type="email" class="form-control"></div>
      </div>
      <div class="form-group"><label class="col-sm-2 control-label">Numéro de téléphone</label>
        <div class="col-sm-10"><input name="NUM_TEL" type="text" class="form-control"></div>
      </div>
      <!-- Étudiant -->
      <div class="champs-etudiant" style="display:none;">
        <div class="form-group"><label class="col-sm-2 control-label">Études</label>
          <div class="col-sm-10"><input name="ETUDES" type="text" class="form-control"></div>
        </div>
        <div class="form-group"><label class="col-sm-2 control-label">Formation</label>
          <div class="col-sm-10"><input name="FORMATION" type="text" class="form-control"></div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Année scolaire</label>
          <div class="col-sm-10">
            <select class="form-control m-b" name="ANNEESCOL">
                {{#each annees}}
                  <option value="{{ANNEESCOL}}">{{ANNEESCOL}}</option>
                {{/each}}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Classe</label>
          <div class="col-sm-10">
            <select class="form-control m-b" name="NUMCLASSE">
                {{#each classes}}
                  <option value="{{NUMCLASSE}}">{{NUMCLASSE}}</option>
                {{/each}}
            </select>
          </div>
        </div>
      </div>
      <!-- Fin Étudiant -->
      <div class="form-group"><label class="col-sm-2 control-label">Nom d'utilisateur</label>
        <div class="col-sm-10"><input name="LOGINUTILISATEUR" type="text" class="form-control"></div>
      </div>
      <div class="form-group"><label class="col-sm-2 control-label">Mot de passe</label>
        <div class="col-sm-10"><input name="MDPUTILISATEUR" type="text" class="form-control"></div>
      </div>
      <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
          <button class="btn btn-primary" type="submit">Enregistrer</button>
        </div>
      </div>
    </form>
  </div>
</div>
