<div class="row">
  <div class="col-sm-5 m-b-xs">
    <select class="role input-sm form-control input-s-sm inline">
      <option value="1">Administrateur</option>
      <option value="3">Professeur</option>
      <option value="4">Étudiant</option>
      <option value="2">Secrétaire</option>
      <option value="5">Maître de stage</option>
    </select>
  </div>
  <div class="col-sm-4 m-b-xs">
    <a href="#users/new" class="btn btn-primary">
      <i class="fa fa-plus"></i> Ajouter
    </a>
  </div>
  <div class="col-sm-3">
    <div class="input-group">
      <input type="text" placeholder="Search" class="search input-sm form-control">
      <span class="input-group-btn">
          <button type="button" class="btn btn-sm btn-primary"> Go!</button>
      </span>
    </div>
  </div>
</div>