<td>{{PRENOM}} {{NOM}}</td>
<td>{{ADRESSE_MAIL}}</td>
<td>{{ROLE}}</td>
<td>
	<a href="#user/{{IDPERSONNE}}"><i class="fa fa-eye text-navy"></i></a>
	{{#ifRole 1 }}
	<a href="#user/edit/{{../IDPERSONNE}}"><i class="fa fa-pencil text-navy"></i></a>
	<a class="delete" data-id="{{../IDPERSONNE}}"><i class="fa fa-times text-navy"></i></a>
	{{/ifRole}}
</td>
