<div class="container">
  <div class="row row-centered" id="pwd-container">
    <div class="col-md-4 col-centered">
      <section class="login-form">
        <form id="login-form" role="login">
          <img src="images/logo.svg" class="img-responsive" alt="" />
          <input type="text" name="LOGINUTILISATEUR" placeholder="Login" required class="form-control input-lg" value="" autocomplete="off"/>
          <input type="password" class="form-control input-lg" name="MDPUTILISATEUR" placeholder="Password" required="" autocomplete="off"/>
          <button type="button" name="go" class="btn btn-lg btn-primary btn-block">Se connecter</button>
        </form>
      </section>  
      </div>
      <div class="col-md-4"></div>
  </div>    
</div>