<div class="row">
  <div class="col-lg-12">
    <h2>Entreprise {{NOM_ORGANISATION}}</h2>
    <form method="get" class="form-horizontal">
      <div class="form-group"><label class="col-sm-2 control-label">Nom</label>
        <div class="col-sm-10"><input name="NOM_ORGANISATION" type="text" class="form-control" value="{{NOM_ORGANISATION}}"></div>
      </div>
      <div class="form-group"><label class="col-sm-2 control-label">Ville</label>
        <div class="col-sm-10"><input name="VILLE_ORGANISATION" type="text" class="form-control" value="{{VILLE_ORGANISATION}}"></div>
      </div>
      <div class="form-group"><label class="col-sm-2 control-label">Adresse</label>
        <div class="col-sm-10"><input name="ADRESSE_ORGANISATION" type="text" class="form-control" value="{{ADRESSE_ORGANISATION}}"></div>
      </div>
      <div class="form-group"><label class="col-sm-2 control-label">Code postal</label>
        <div class="col-sm-10"><input name="CP_ORGANISATION" type="text" class="form-control" value="{{CP_ORGANISATION}}"></div>
      </div>
      <div class="form-group"><label class="col-sm-2 control-label">Téléphone</label>
        <div class="col-sm-10"><input name="TEL_ORGANISATION" type="text" class="form-control" value="{{TEL_ORGANISATION}}"></div>
      </div>
      <div class="form-group"><label class="col-sm-2 control-label">Fax</label>
        <div class="col-sm-10"><input name="FAX_ORGANISATION" type="text" class="form-control" value="{{FAX_ORGANISATION}}"></div>
      </div>
      <div class="form-group"><label class="col-sm-2 control-label">Forme juridique</label>
        <div class="col-sm-10"><input name="FORMEJURIDIQUE" type="text" class="form-control" value="{{FORMEJURIDIQUE}}"></div>
      </div>
      <div class="form-group"><label class="col-sm-2 control-label">Activité</label>
        <div class="col-sm-10"><input name="ACTIVITE" type="text" class="form-control" value="{{ACTIVITE}}"></div>
      </div>
      <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
          <button class="btn btn-primary" type="submit">Mettre à jour</button>
        </div>
      </div>
    </form>
  </div>
</div>
