<td>{{NOM_ORGANISATION}}</td>
<td>{{VILLE_ORGANISATION}}</td>
<td>{{ADRESSE_ORGANISATION}}</td>
<td>{{TEL_ORGANISATION}}</td>
<td>{{ACTIVITE}}</td>
<td>
	<a href="#entreprise/{{IDORGANISATION}}"><i class="fa fa-eye text-navy"></i></a>
	<a href="#entreprise/edit/{{IDORGANISATION}}"><i class="fa fa-pencil text-navy"></i></a>
	<a class="delete" data-id="{{IDORGANISATION}}"><i class="fa fa-times text-navy"></i></a>
</td>