<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nom entreprise </th>
      <th>Ville </th>
      <th>Adresse</th>
      <th>Tél entreprise</th>
      <th>Activité</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>