<div class="row">
  <div class="col-lg-12">
    <h2>Entreprise {{NOM_ORGANISATION}}</h2>
    <p><label>Ville :</label>{{VILLE_ORGANISATION}} </p>
    <p><label>Adresse :</label>{{ADRESSE_ORGANISATION}} </p>
    <p><label>Code postal :</label>{{CP_ORGANISATION}} </p>
    <p><label>Téléphone :</label>{{TEL_ORGANISATION}} </p>
    <p><label>Fax :</label>{{FAX_ORGANISATION}} </p>
    <p><label>Forme juridique :</label>{{FORMEJURIDIQUE}} </p>
    <p><label>Activité :</label>{{ACTIVITE}} </p>
  </div>
</div>