<ul class="nav nav-sidebar">
  <li class="active"><a href="#home">Tableau de bord <span class="sr-only">(actuel)</span></a></li>
</ul>

<ul class="nav nav-sidebar">
  <li><a href="#users"><i class="fa fa-user"></i> Utilisateurs</a></li>
  <li><a href="#entreprises"><i class="fa fa-building-o"></i> Entreprises</a></li>
  <li><a href="#stages"><i class="fa fa-newspaper-o"></i> Stages</a></li>
</ul>

<ul class="nav nav-sidebar">
  <li><a href="#anneescolaires"><i class="fa fa-calendar"></i> Années scolaires</a></li>
  <li><a href="#classes"><i class="fa fa-university"></i> Classes</a></li>
  <li><a href="#filieres"><i class="fa fa-book"></i> Filières</a></li>
  <li><a href="#specialites"><i class="fa fa-certificate"></i> Spécialités</a></li>
</ul>


