<div class="row">
  <div class="col-lg-12">
    <h2>Filière {{LIBELLEFILIERE}}</h2>
    <form method="get" class="form-horizontal">
      <div class="form-group"><label class="col-sm-2 control-label">Année</label>
        <div class="col-sm-10"><input name="LIBELLEFILIERE" type="text" class="form-control" value="{{LIBELLEFILIERE}}"></div>
      </div>
      <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
          <button class="btn btn-primary" type="submit">Mettre à jour</button>
        </div>
      </div>
    </form>
  </div>
</div>
