<td>{{LIBELLEFILIERE}}</td>
<td>
	<a href="#filiere/edit/{{NUMFILIERE}}"><i class="fa fa-pencil text-navy"></i></a>
	<a class="delete" data-id="{{NUMFILIERE}}"><i class="fa fa-times text-navy"></i></a>
</td>