<div class="row">
  <div class="col-sm-4 m-b-xs">
    <a href="#filieres/new" class="btn btn-primary">
      <i class="fa fa-plus"></i> Ajouter
    </a>
  </div>
  <div class="col-sm-3 pull-right">
    <div class="input-group">
      <input type="text" placeholder="Search" class="search input-sm form-control">
      <span class="input-group-btn">
          <button type="button" class="btn btn-sm btn-primary"> Go!</button>
      </span>
    </div>
  </div>
</div>