<td>{{NUMCLASSE}}</td>
<td>{{IDSPECIALITE}}</td>
<td>{{NUMFILIERE}}</td>
<td>{{NOMCLASSE}}</td>
<td>
	<a href="#classe/{{NUMCLASSE}}"><i class="fa fa-eye text-navy"></i></a>
	<a href="#classe/edit/{{NUMCLASSE}}"><i class="fa fa-pencil text-navy"></i></a>
	<a class="delete" data-id="{{NUMCLASSE}}"><i class="fa fa-times text-navy"></i></a>
</td>