<div class="row">
  <div class="col-lg-12">
    <h2>Classes {{NOMCLASSE}}</h2>
    <form method="get" class="form-horizontal">
      <div class="form-group"><label class="col-sm-2 control-label">Nom</label>
        <div class="col-sm-10"><input name="NOMCLASSE" type="text" class="form-control" value="{{NOMCLASSE}}"></div>
      </div>
      <div class="form-group"><label class="col-sm-2 control-label">Numéro classe</label>
        <div class="col-sm-10"><input name="NUMCLASSE" type="text" class="form-control" value="{{NUMCLASSE}}"></div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Spécialité</label>
        <div class="col-sm-10">
          <select id="listeSpecialites" class="form-control m-b" name="IDSPECIALITE">
            {{#each specialites}}
              <option value="{{IDSPECIALITE}}">{{LIBELLECOURTSPECIALITE}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="form-group"><label class="col-sm-2 control-label">Numéro filière</label>
        <div class="col-sm-10"><input name="NUMFILIERE" type="text" class="form-control" value="{{NUMFILIERE}}"></div>
      </div>
      <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
          <button class="btn btn-primary" type="submit">Mettre à jour</button>
        </div>
      </div>
    </form>
  </div>
</div>
