<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nom classe</th>    
      <th>Num classe </th>
      <th>Id spécialité </th>
      <th>Num filière</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>