<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h2>Liste des classes </h2>
      </div>
      <div class="ibox-content">
        <div id="classe-search"></div>
        <div id="classes-list"></div>
      </div>
    </div>
  </div>
</div>
