<div class="row">
  <div class="col-lg-12">
    <h2>Nouvelle  classe</h2>
    <form class="form-horizontal">
      <div class="form-group"><label class="col-sm-2 control-label">Num classe</label>
        <div class="col-sm-10"><input name="NUMCLASSE" type="text" class="form-control"></div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Spécialité</label>
        <div class="col-sm-10">
          <select class="form-control m-b" name="IDSPECIALITE">
            {{#each specialites}}
              <option value="{{IDSPECIALITE}}">{{LIBELLECOURTSPECIALITE}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="form-group"><label class="col-sm-2 control-label">Num filière</label>
        <div class="col-sm-10"><input name="NUMFILIERE" type="text" class="form-control"></div>
      </div>
      <div class="form-group"><label class="col-sm-2 control-label">Nom classe</label>
        <div class="col-sm-10"><input name="NOMCLASSE" type="text" class="form-control"></div>
      </div>
      <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
          <button class="btn btn-primary" type="submit">Enregistrer</button>
        </div>
      </div>
    </form>
  </div>
</div>
