<div class="row">
  <div class="col-lg-12">
    <h2>Classe {{NOMCLASSE}}</h2>
    <p><label>Numéro classe :</label>{{NUMCLASSE}} </p>
    <p><label>Id spécialité :</label>{{IDSPECIALITE}} </p>
    <p><label>Numéro filière :</label>{{NUMFILIERE}} </p>
  </div>
</div>