<td>{{ANNEESCOL}}</td>
<td>
	<a href="#anneescolaire/{{ANNEESCOL}}"><i class="fa fa-eye text-navy"></i></a>
	<a href="#anneescolaire/edit/{{ANNEESCOL}}"><i class="fa fa-pencil text-navy"></i></a>
	<a class="delete" data-id="{{ANNEESCOL}}"><i class="fa fa-times text-navy"></i></a>
</td>