<div class="row">
  <div class="col-lg-12">
    <h2>Nouvelle  année scolaire</h2>
    <form class="form-horizontal">
      <div class="form-group"><label class="col-sm-2 control-label">Année scolaire</label>
        <div class="col-sm-10"><input name="ANNEESCOL" type="text" class="form-control"></div>
      </div>
      <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
          <button class="btn btn-primary" type="submit">Enregistrer</button>
        </div>
      </div>
    </form>
  </div>
</div>
