<div class="row">
  <div class="col-lg-12">
    <h2>Editer le stage de {{ETUDIANT}}</h2>
    <form method="get" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label">Année Scolaire</label>
        <div class="col-sm-10">
          <select id="listeAnneescol" class="form-control m-b" name="ANNEESCOL">
            {{#each select_anneescol}}
              <option value="{{ANNEESCOL}}">{{ANNEESCOL}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Etudiant</label>
        <div class="col-sm-10">
          <select id="listeEtudiants" class="form-control m-b" name="IDETUDIANT">
            {{#each select_etudiants}}
              <option value="{{IDPERSONNE}}">{{NOM}} {{PRENOM}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Professeur</label>
        <div class="col-sm-10">
          <select id="listeProfesseurs" class="form-control m-b" name="IDPROFESSEUR">
            {{#each select_professeurs}}
              <option value="{{IDPERSONNE}}">{{NOM}} {{PRENOM}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Organisation</label>
        <div class="col-sm-10">
          <select id="listeOrganisations" class="form-control m-b" name="IDORGANISATION">
            {{#each select_organisations}}
              <option value="{{IDORGANISATION}}">{{NOM_ORGANISATION}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Maître de stage</label>
        <div class="col-sm-10">
          <select class="form-control m-b" name="IDMAITRESTAGE">
            {{#each select_maitreStages}}
              <option value="{{IDPERSONNE}}">{{NOM}} {{PRENOM}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="form-group"><label class="col-sm-2 control-label">Date de début</label>
        <div class="col-sm-10"><input data-date-format="yyyy-mm-dd" data-provide="datepicker" name="DATEDEBUT" value="{{DATEDEBUT}}"></div>
      </div>
      <div class="form-group"><label class="col-sm-2 control-label">Date de fin</label>
        <div class="col-sm-10"><input data-date-format="yyyy-mm-dd" data-provide="datepicker" name="DATEFIN" value="{{DATEFIN}}"></div>
      </div>
      <div class="form-group"><label class="col-sm-2 control-label">Date de visite de stage</label>
        <div class="col-sm-10"><input data-date-format="yyyy-mm-dd" data-provide="datepicker" name="DATEVISITESTAGE" value="{{DATEVISITESTAGE}}"></div>
      </div>
      <div class="form-group"><label class="col-sm-2 control-label">Divers</label>
        <div class="col-sm-10"><textarea name="DIVERS" class="form-control" rows="3">{{DIVERS}}</textarea></div>
      </div>
      <div class="form-group"><label class="col-sm-2 control-label">Ressources et outils</label>
        <div class="col-sm-10"><textarea name="RESSOURCESOUTILS" class="form-control" rows="3">{{RESSOURCESOUTILS}}</textarea></div>
      </div>
      <div class="form-group"><label class="col-sm-2 control-label">Bilan des travaux</label>
        <div class="col-sm-10"><textarea name="BILANTRAVAUX" class="form-control" rows="3">{{BILANTRAVAUX}}</textarea></div>
      </div>
      {{#ifRole 1 3}}
      <div class="form-group"><label class="col-sm-2 control-label">Visite de stage</label>
        <div class="col-sm-10"><textarea name="COMMENTAIRES" class="form-control" rows="3">{{COMMENTAIRES}}</textarea></div>
      </div>
      {{/ifRole}}
      <div class="form-group"><label class="col-sm-2 control-label">Participation au CCF</label>
        <div class="col-sm-10"><input type="radio" value="0" name="PARTICIPATIONCCF">oui <input type="radio" value="1" name="PARTICIPATIONCCF">non</div>
      </div>
      <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
          <button class="btn btn-primary" type="submit">Enregistrer</button>
        </div>
      </div>
    </form>
  </div>
</div>
