<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Année</th>
      <th>Classe</th>
      <th>Etudiant </th>
      <th>Entreprise </th>
      <th>Professeur</th>
      <th>Date début</th>
      <th>Date fin</th>
      <th>Ville</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
 