<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h2>Liste des stages </h2>
      </div>
      <div class="ibox-content">
        <div id="stage-search"></div>
        <div id="stages-list"></div>
      </div>
    </div>
  </div>
</div>
