<div class="row">
  <div class="col-sm-2 m-b-xs">
    <select class="classe input-sm form-control input-s-sm inline">
      {{#each classes}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </div>
  <div class="col-sm-2 m-b-xs">
    <select class="annee input-sm form-control input-s-sm inline">
      {{#each annees}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </div>
  <div class="col-sm-5 m-b-xs">
    <a href="#stages/new" class="btn btn-primary">
      <i class="fa fa-plus"></i> Ajouter
    </a>
  </div>
  <div class="col-sm-3">
    <div class="input-group">
      <input type="text" placeholder="Search" class="search input-sm form-control">
      <span class="input-group-btn">
          <button type="button" class="btn btn-sm btn-primary"> Go!</button>
      </span>
    </div>
  </div>
</div>