<div class="row">
  <div class="col-lg-12">
    <h2>Stage de {{ETUDIANT}}</h2>
    <p><label>Année :</label>{{ANNEESCOL}} </p>
    <p><label>Classe :</label>{{NUMCLASSE}} </p>
    <p><label>Organisation :</label>{{ORGANISATION}} </p>
    <p><label>Ville :</label>{{VILLE}} </p>
    <p><label>Professeur :</label>{{PROFESSEUR}} </p>
    <p><label>Date de visite de stage :</label>{{DATEVISITESTAGE}} </p>
    <p><label>Date de début :</label>{{DATEDEBUT}} </p>
    <p><label>Date de fin :</label>{{DATEFIN}} </p>
    <p><label>Maître de stage :</label>{{MAITREDESTAGE}} </p>

  </div>
</div>