<td>{{ANNEESCOL}}</td>
<td>{{NUMCLASSE}}</td>
<td>{{ETUDIANT}}</td>
<td>{{ORGANISATION}}</td>
<td>{{PROFESSEUR}}</td>
<td>{{DATEDEBUT}}</td>
<td>{{DATEFIN}}</td>
<td>{{VILLE}}</td>
<td>
	<a href="#stage/{{NUM_STAGE}}"><i class="fa fa-eye text-navy"></i></a>
	<a href="#stage/edit/{{NUM_STAGE}}"><i class="fa fa-pencil text-navy"></i></a>
	<a class="delete" data-id="{{NUM_STAGE}}"><i class="fa fa-times text-navy"></i></a>
</td>