<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Libellé court</th>
      <th>Libellé long</th>    
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>