<td>{{LIBELLECOURTSPECIALITE}}</td>
<td>{{LIBELLELONGSPECIALITE}}</td>
<td>
	<a href="#specialite/edit/{{IDSPECIALITE}}"><i class="fa fa-pencil text-navy"></i></a>
	<a class="delete" data-id="{{IDSPECIALITE}}"><i class="fa fa-times text-navy"></i></a>
</td>