<h1 class="page-header">Tableau de bord</h1>

<div class="row placeholders">
  <a href="#users" data-type="1">
    <div class="col-xs-6 col-sm-3 placeholder">
      <i class="fa fa-users fa-5x"></i>
      <h4>Utilisateurs</h4>
      <span class="text-muted">Gestion des utilisateurs</span>
    </div>
  </a>
  <a href="#entreprises" data-type="2">
    <div class="col-xs-6 col-sm-3 placeholder">
      <i class="fa fa-building-o fa-5x"></i>
      <h4>Entreprises</h4>
      <span class="text-muted">Gestion des entreprises</span>
    </div>
  </a>
  <a href="#stages" data-type="2">
    <div class="col-xs-6 col-sm-3 placeholder">
      <i class="fa fa-newspaper-o fa-5x"></i>
      <h4>Stages</h4>
      <span class="text-muted">Gestion des stages</span>
    </div>
  </a>
  <a href="#anneescolaires" data-type="2">
    <div class="col-xs-6 col-sm-3 placeholder">
      <i class="fa fa-calendar fa-5x"></i>
      <h4>Années scolaires</h4>
      <span class="text-muted">Gestion des années scolaires</span>
    </div>
  </a>
  <a href="#classes" data-type="2">
    <div class="col-xs-6 col-sm-3 placeholder">
      <i class="fa fa-university fa-5x"></i>
      <h4>Classes</h4>
      <span class="text-muted">Gestion des classes</span>
    </div>
  </a>
  <a href="#filieres" data-type="2">
    <div class="col-xs-6 col-sm-3 placeholder">
      <i class="fa fa-book fa-5x"></i>
      <h4>Filières</h4>
      <span class="text-muted">Gestion des filières</span>
    </div>
  </a>
  <a href="#specialites" data-type="2">
    <div class="col-xs-6 col-sm-3 placeholder">
      <i class="fa fa-certificate fa-5x"></i>
      <h4>Spécialités</h4>
      <span class="text-muted">Gestion des spécialités</span>
    </div>
  </a>
  
</div>
